.animation{
    animation:blink;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: all;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}